@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Developed By: @ViewData["Developer"]</p>

<address>
    <strong>Github: </strong> <a href="https://github.com/robernar2011">My Github Repositories.</a>
</address>
